$breakpoint-small: "only screen and (min-width: 320px) and (max-width: 568px)";
$breakpoint-medium: "only screen and (min-width: 320px) and (max-width: 812px)";
$breakpoint-large: "only screen and (min-width 768) and (max-width: 1024px)";
