$breakpoint-small: "only screen and (min-width: 320px) and (max-width: 568px)";
$breakpoint-medium: "only screen and (min-width: 320px) and (max-width: 812px)";
$breakpoint-medium-plus: "only screen and (min-width: 414px) and (max-width: 736px)";
$breakpoint-large: "only screen and (min-device-width: 768px) and (max-device-width: 1024px)";
