@import 'reusables';
@import 'breakpoints';

body,th {
  font-family: $font-family;
  font-size: $font-content-size;
  //color: $font-content-color;
  line-height: 1.5;
  background-color: #444;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  //background-color: $background-color;
  background-image: linear-gradient(to right top, #8e9eab, #a4b3bc, #bcc8ce, #d4dde0, #eef2f3);}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: $background-color;
  text-align:center;
  padding: 20px 0;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: $font-link-color;
  font-size: 14pt;
  font-weight: bold;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.breadcrumb {
  padding: 15px 0;
  list-style: none;
  background-color: #eee;
  font-size: 0.8rem;
  width: 48%;
  margin: 30px 0 10px 0;
  text-align: center;
  @media #{$breakpoint-small} {
    margin: 0 auto;
    width: 100%;
  }
}

// Breadcrumbs
/* Display list items side by side */
.breadcrumb li {
  display: inline;
  font-size: 1.2rem;
  letter-spacing: 8px;
  font-weight: normal;
  color: #718096;;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Restaurant Details ====================== */
.restaurant-name {
  color: $font-header-color;
  font-family: $font-family;
  font-size: $font-h1-size;
  font-weight: lighter;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 3px;
  @media #{$breakpoint-small} {
    text-align: center;
    margin: 30px 0 30px;
    letter-spacing: 10px;
  }
}
#restaurant-img {
  width: 90%;
  @media #{$breakpoint-small} {
    width: 100%;
  }
}

.restaurant-hours td {
  color: #fff;
  font-weight: bold;
  //background-color: #fff;
}

.restaurant-hours {
  @media #{$breakpoint-small} {
    margin: 0 auto;
  }
  @media #{$breakpoint-medium} {
    padding: 0 5px;
  }
  @media #{$breakpoint-medium-plus} {
    padding: 0 25px;
  }
  @media #{$breakpoint-large} {
    padding: 0;
  }
}

.restaurant-address {
  font-size: 12pt;
  margin: 10px 0;
  color: #fff;
  font-weight: bold;
  @media #{$breakpoint-small} {
    margin: 5% auto;
    width: 80%;
    text-align: center;
  }
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
  @media #{$breakpoint-small} {
    width: 100%;
  }
}

.restaurant-container {
  padding: 0 40px;
  width: 50%;
  @media #{$breakpoint-small} {
    width: 100%;
    padding: 0;
  }
}

.reviews-container {
  //border-bottom: 1px solid #d9d9d9;
  //border-top: 1px solid #fff;
  padding: 30px 40px 80px;
  width: 41%;
  @media #{$breakpoint-small} {
    width: 100%;
    padding: 0;
  }
}

//.reviews-container {
//  padding: 30px 40px 80px;
//}

.reviews-container h2 {
  color: $font-header-color;
  font-size: $font-h2-size;
  font-weight: lighter;
  letter-spacing: 1px;
  padding-bottom: 1pt;
  @media #{$breakpoint-small} {
    padding: 0 5%;
    text-align: center;
    margin-top: 20px;
  }
}

.reviews-list {
  margin: 0;
  padding: 0;
  @media #{$breakpoint-small} {
    padding: 0 5%;
  }
}

.reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 100%;
  @media #{$breakpoint-small} {
    max-width: 86%;
  }
  @media #{$breakpoint-large} {
    width: 95%;
  }
}

.reviews-list li p {
  margin: 0 0 10px;
}

/* Restaurant boxes */
ul, li {
  font-family: $font-family;
  font-size: $font-content-size;
  color: #333;
  display: inline-block;
  font-weight: normal;
}

a {
  color: $font-header-color;
  text-decoration: none;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}

a img{
  border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
  margin: 0 0 20px;
}
// footer
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 40px 25px 40px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Map ====================== */
.map {
  height: 635px;
  width: 100%;
  background-color: #ccc;
  box-shadow: 0 0 5px 6px rgba(160,174,192,0.55);
  @media #{$breakpoint-small} {
    height: 475px;
    box-shadow: none;
  }
}
.inside header {
  //position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside {
  //background: blue none repeat scroll 0 0;
  //height: 87%;
  //position: fixed;
  //right: 0;
  //top: 76px;
  //width: 50%;
}

.map-container {
  width: 45%;
  margin: 0 auto;
  height: 100%;
  right: 3%;
  top: 105px;
  position: fixed;
  @media #{$breakpoint-small} {
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
  }
}

.inside #map {
  background-color: #ccc;
  //height: 100%;
  //width: 100%;
}
//#footer {
//  bottom: 0;
//  position: relative;
//  width: 50%;
//}

//
.border {
  max-width: 100%;
  width: 25%;
  border: 1px solid $border-color;;
  margin-left: 10%;
  margin-top: 3%;
  @media #{$breakpoint-small} {
    max-width: 100%;
    width: 50%;
    border: 1px solid #e2e8f0;
    margin: 30px auto 0;
  }
}


