$font-family: 'Lato', Helvetica, sans-serif;
$font-content-size: 0.8rem;
$font-content-color: #636366;
$font-header-size: 1rem;
$font-header-color: #FE7880;
$font-link-color: #FE7880;
$background-color: #252831;
