// Fonts main page
$font-family: 'Lato', Helvetica, sans-serif;
$font-content-size: 0.8rem;
$font-content-color: #a0aec0;
$font-header-size: 1rem;
$font-header-color: #fff;
$font-link-color: #4fd1c5;
$font-button-color: #4fd1c5;
$background-color: #fff;

// Fonts details page
$border-color: #e2e8f0;
$font-h2-size: 1.8rem;
$font-h1-size: 1.7rem;
