@charset "utf-8";
@import 'reusables';
@import 'breakpoints';

body,th {
	font-family: $font-family;
	font-size: $font-content-size;
	color: $font-content-color;
	line-height: 1.5;
    background-color: $background-color;
}

.container {
	margin: 0 auto;
	position:relative;
    width: 100%;
    background-image: $background-image;
    display: flex;
    flex-direction: column;
}

/* Restaurant boxes */
ul, li {
	font-family: $font-family;
	font-size: 10pt;
	color: $font-content-color;
    display: inline-block;
}

a {
	color: $font-header-color;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav {
	display: block;
}

#footer {
  background-color: $background-color;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 40px 25px 40px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  //height: 80px;
  background-color: $background-color;
  text-align:center;
  padding: 20px 0;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: $font-link-color;
  font-size: 14pt;
  font-weight: bold;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

.map-container {
  width: 95%;
  margin: 0 auto;
  @media #{$breakpoint-small} {
    width: 100%;
  }
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  border-radius: 10px;
  width: 95%;
  height: 100%;
  background-color: #4fd1c5;
  align-items: center;
  margin: 30px auto;
  padding: 10px 0;
  text-align: center;
  @media #{$breakpoint-medium} {
    width: 100%;
    margin: 20px 0;
    border-radius: 0;
  }
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2;
  margin: 0 20px;
  letter-spacing: 2px;
}
.filter-options select {
  background-color: #fff;
  border: 1px solid #fff;
  font-family: $font-family;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 1px;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
.restaurants-list {
  background-color: $background-image;
  list-style: outside none none;
  margin: 0;
  padding: 0 0 30px;
  text-align: center;
  @media #{$breakpoint-medium} {
    padding: 0 0 30px;
  }
}

.restaurants-list li {
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 0 5px 15px 15px;
  min-height: 380px;
  padding: 10px;
  text-align: left;
  width: 17%;
  @media #{$breakpoint-small} {
    width: 75%;
    margin: 2% auto;
  }
  @media #{$breakpoint-large} {
    width: 35%;
  }
}

.restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 5% auto;
  max-width: 100%;
  min-height: 248px;
  //min-width: 100%;
  border-radius: 50%;
  width: 80%;
}

.restaurants-list li h1 {
  color: $font-content-color;
  font-family: Arial,sans-serif;
  font-size: $font-header-size;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.3;
  margin: 0 auto;
  text-transform: uppercase;
}
.restaurants-list p {
  margin: 0;
  background-color: #fff;
  font-size: $font-content-size;
  letter-spacing: 1px;
}

.restaurants-list li a {
  background-color: $font-button-color;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
